[core]
  editor = vim
  pager = delta
  autocrlf = input
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,indent-with-non-tab,trailing-space
[user]
  name = Pamela Ocampo
[includeIf "gitdir:~/me/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dev/"]
  path = ~/.gitconfig-work
[init]
  defaultBranch = main
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = true
[merge]
  log = true
  conflictstyle = zdiff3
[diff]
  colorMoved = default
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
[color]
  ui = true
[color "status"]
  added = yellow
  changed = red
[alias]
  amend = commit --amend
  ap = add -p
  br = branch
  ca = commit --amend -C HEAD
  ci = commit
  co = checkout
  df = diff --cached --color --color-words
  dff = diff --color --color-words
  graph = log --graph --decorate --oneline --branches
  lg = log -10 --graph --stat --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --pretty=oneline
  pfwl = push --force-with-lease
  pr = pull --rebase
  s = status -sb
  st = status
  undo = reset --soft HEAD^
  cleanup = "!git branch --merged | grep -v '\\*\\|main\\|develop' | xargs -n 1 git branch -d"
[help]
  autocorrect = 1
[credential]
  helper = osxkeychain
[url "git@github.com:"]
  insteadOf = "gh:"
[github]
  user = pamo
